data_source:
  driver: "mysql"
  dsn: "root:xxxxx@tcp(127.0.0.1:9005)/echo_mind?charset=utf8mb4&parseTime=True&loc=Local"

wechat:
  watch_dir:
    - dir: "5700a8"
      key: "xxxxxx"
  watch_id:
    - id: "wxid_xxxxxx"
      key: "xxxxxx"
